@import 'preload.css';
@import 'variables.css';
@import 'header.css';
@import 'hero.css';
@import 'categories.css';
@import 'promotions.css';
@import 'for-you.css';
@import 'reliability.css';
@import 'footer.css';

.section-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 32px;
	margin-bottom: 24px;
}

.section-header h3 {
	font-family: 'Galano Grotesque Bold';
	font-size: 24px;
	color: var(--color-morado);
}

.section-header__right-option {
	display: inline-block;
}

.section-header__right-option button {
	color: var(--color-gris);
}

#load-more {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 16px;
}

.load-more-btn {
	cursor: pointer;
	padding: 8px 32px;
	width: 300px;
	font-size: 18px;
	color: white;
	background-color: var(--color-morado);
	border: 2px solid var(--color-morado);
	border-radius: 18px;
	box-sizing: border-box;
}

.load-more-btn:hover {
	box-shadow: 0 0 8px var(--color-gris);
}

.load-more-btn:active {
	color: var(--color-morado);
	background-color: white;
	border: 2px solid var(--color-morado);
}

@media screen and (min-width: 760px) {
	.section-header {
		margin-top: 24px;
		padding: 24px;
	}

	.section-header h3 {
		font-size: 36px;
	}

	.section-header__right-option {
		display: none;
	}
}

@media screen and (min-width: 980px) {}