@import 'components/a-tu-favor-component.css';
@import 'components/porque-confiar-component.css';

#reliability {
	margin: 0 auto;
	max-width: 1293px;
	padding: 20px;
	font-size: 16px;
	color: var(--color-gris);
}

.reliability-component {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.a-tu-favor-component,
.porque-confiar-component {
	width: 100%;
}

@media screen and (min-width: 760px) {
	.reliability-component {
		flex-direction: row;
	}

	.a-tu-favor-component,
	.porque-confiar-component {
		padding: 0 32px;
	}
}

@media screen and (min-width: 980px) {
	#reliability {
		margin-bottom: 24px;
	}
}
