:root {
	--color-gris: #707070;
	--color-gris-claro: #e5e5e5;
	--color-verde: #78D46E;
	--color-verde-oscuro: #0F9B00;
	--color-azul: #5596FA;
	--color-morado: #5046AA;
	--color-amarillo: #FFC120;
	--color-rojo: #EB5757;
}