.search-component {
	display: block;
	width: 100%;
	max-width: 280px;
	padding: 0 8px;
	background-color: transparent;
	box-sizing: border-box;
}

.search-component__input-search {
	z-index: 100;
	display: flex;
	width: 100%;
	background-color: white;
	border-radius: 16px;
	border: 1px solid var(--color-gris-claro);
	box-sizing: border-box;
}

.search-component__input-search .icon-btn {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4px;
}

.search-component__input-search img {
	height: 24px;
}

.search-component__input-search input {
	padding: 8px 16px;
	width: 100%;
	font-size: 12px;
	border: none;
	background-color: transparent;
}

.search-component__search-history {
	display: none;
	z-index: 99;
	position: absolute;
	margin-top: 8px;
	padding: 16px;
	color: var(--color-gris);
	background-color: white;
	border: 1px solid var(--color-gris-claro);
	border-radius: 16px;
	box-sizing: border-box;
}

.search-component__search-history li {
	cursor: pointer;
	padding: 8px;
}

.search-component__search-history li:hover {
	background-color: var(--color-gris-claro);
}

@media screen and (min-width: 760px) {
	.search-component {
		/* max-width: 320px; */
	}
}

@media screen and (min-width: 980px) {
	.search-component {
		max-width: 480px;
	}
}